<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="bankService" class="com.smes.service.BankService"> 
		<property name="bankDao" ref="bankDao"></property>
	</bean>
	
	<bean	id="userService" class="com.smes.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="customerService" class="com.smes.service.CustomerService">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	
	<bean id="bankTransactionService" class="com.smes.service.BankTransactionService">
		<property name="depositLogDao" ref="depositLogDao"/>
		<property name="withdrawalLogDao" ref="withdrawalLogDao"/>
		<property name="bankDao" ref="bankDao"></property>
	</bean>
	
	<bean id="customerAccountPreferenceService" class="com.smes.service.CustomerAccountPreferenceService">
		<property name="customerAccountPreferenceDao" ref="customerAccountPreferenceDao"></property>
	</bean>
</beans>